<button onclick="view_jobs()">Jobs</button>
<button onclick="view_employees()">Employees</button>

<div id="joblist">
    <%= render "joblist" %>
</div>

<div id="employees" style="display: none">
    <%= render "employees" %>
</div>

<script>
    function view_jobs() {
        document.getElementById("employees").style.display = "none";
        document.getElementById("joblist").style.display = "block";
    }

    function view_employees() {
        document.getElementById("employees").style.display = "block";
        document.getElementById("joblist").style.display = "none";
    }
</script>